<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>
        Trang chủ
      </mat-icon>
    </button>
    <a mat-flat-button color="primary" [routerLink]="['/cities']">
      Thành phố
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/countries']">
      Quốc gia
    </a>
    <span class="separator"></span>
    <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/login']">Đăng nhập</a>
    <a *ngIf="isLoggedIn" mat-flat-button color="primary" (click)="onLogout()">Đăng xuất</a>
  </mat-toolbar>
</header>
